.task-display {
    width: 90%;
    min-width: 90%;
    height: 9vh;
    margin: 10px 5% 0 5%;
    background-color: lightgray;
}

.task-title {
    height: 15%;
    width: 100%;
    overflow: ellipsis;
}

.task-desc {
    margin: 5% 0 10% 0;
    height: 70%;
    width: 100%;
    overflow: ellipsis;
}